.questionMark {
	background-image: url(../images/mario-question-box.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.enemyTurtleActor {
	background-image: url(../images/turtles.png);
	background-repeat: no-repeat;
}

.platform {
	background-image: url(../images/brick.gif);
	background-repeat: repeat-x;
}